<div class="container">

  <% if @bookings.empty? %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 centered">
        <div class="button-show-card">
          <p>You are not registered to any game yet</p>
          <%= link_to "Find open games",games_path, class: "btn btn-primary"  %>
        </div>
      </div>
    </div>

  <% else  %>
    <h1 class = "centered"> Games you are signed up for </h1>

    <ul class="inbox">
      <% @bookings.each do |booking| %>
        <%= link_to booking_path(booking) do %>
          <span class="top-link"></span>
        <% end %>
        <li class="message">
          <%= cl_image_tag(booking.game.user.photo, :gravity=>"face", :width=>30, :height=>30, :crop=>"thumb", class: "avatar-resizable") %>
          <div class="message-name">
            <h3><%= booking.game.user.first_name %></h3>
            <p><%= booking.game.start_date %></p>
          </div>
          <div class="message-body">
            <p><strong><%= booking.game.title %></strong></p>
            <p><%= booking.game.description %></p>
            <p>Addresse: <%= booking.game.address %></p>
          </div>
          <div class="message-status">
            <p ><%= link_to 'Delete', booking_path(booking), :method => :delete, data: {:confirm => "Are you sure?"}, class: "btn btn-danger"%></p>
          </div>
        </li>
      <% end %>
    </ul>

  <% end %>

</div>

