<div class="container">

  <% if @bookings.empty? %>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 centered">
        <div class="button-show-card">
          <p>You are not registered to any game yet</p>
          <%= link_to "Find open games",games_path, class: "btn btn-primary"  %>
        </div>
      </div>
    </div>

  <% else  %>

    <div class="tabs">
      <a href="#" class="tab active">Bookings</a>
      <a href="#" class="tab">Hosting Games</a>
    </div>

    <ul class="inbox">
      <% @bookings.each do |booking| %>
        <li class="message">
          <img src="images/gab.png" alt="" class="avatar-large">
          <div class="message-name">
            <h3><%= booking.user.first_name %></h3>
            <p><%= booking.game.start_date %></p>
          </div>
          <div class="message-body">
            <p><strong><%= booking.game.title %></strong></p>
            <p><%= booking.game.description %></p>
            <p>Addresse: <%= booking.game.address %></p>
          </div>
          <div class="message-status">
            <p class="status accepted">Booked</p>
          </div>
        </li>
      <% end %>
    </ul>

  <% end %>

</div>

