<h1> Hello <%= current_user.first_name %></h1>

<p>Here are your bookings:</p>

<ul>
  <% @bookings.each do |booking| %>
    <li>
      <p> <%= booking.game.title %></p>
      <p> <%= booking.game.description %></p>
      <%= link_to "See", booking_path(booking) %>
      <%= link_to "Delete", booking_path(booking), method: :delete %>
    </li>
  <% end %>
</ul>
