<div class="container login">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 banner-booking" style="background-image: linear-gradient(-225deg,rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= cl_image_path @booking.game.photo %>);">
        <h1 class="pin-left"><%= @booking.game.title %></h1>

        <div>
          <p> GAME OWNER </p>
          <%= cl_image_tag(@game_owner.photo, :gravity=>"face", :width=>150, :height=>150, :crop=>"thumb", class: "avatar-resizable") %>
          <p> <%= @game_owner.full_name %></p>
        </div>

        <h1> VS </h1>

        <div>
          <p> CHALLENGER </p>
          <%= cl_image_tag(@challenger.photo, :gravity=>"face", :width=>150, :height=>150, :crop=>"thumb", class: "avatar-resizable") %>
          <p> <%= @challenger.full_name %></p>
        </div>
      </div>
    </div>

<!--   <div class="row">
      <div class="inbox-profile-without-margin">
        <p> Game Address: <em><%= @booking.game.address %></em> </p>
        <p> Game Description: <%= @booking.game.description %></p>
      </div>

      <div class="inbox-profile-without-margin">
        <ul>
          <li><strong>Time control: </strong> <%= @booking.game.time_control.name %></li>
          <li>
            <% if @booking.game.time_flexible %>
              <span> <strong>Flexible on time: </strong> </span> <i class='fas fa-check'></i>
              <% else %>
              <span> <strong>Flexible on time: </strong> </span> <i class="fas fa-times"></i>
            <% end %>
            </li>
          <li><strong>Start date: </strong><%= @booking.game.start_date %></li>
          <li><strong>End date: </strong><%= @booking.game.end_date %></li>
        </ul>
      </div>
    </div>
  </div> -->

  <div>
    <h1 class="text-align-center"> Reviews </h1>
    <% @booking.reviews.each do |review| %>
      <div class="message-review">
        <ul>
          <li><strong>Rating: </strong> <%= review.rating %></li>
          <li><strong>Content: </strong> <%= review.content %></li>
        </ul>
      </div>
    <% end %>
    <div class="cta-banner">
      <%= link_to "Add a review",new_booking_review_path(@booking), class: "btn btn-primary" %>
    </div>

  </div>




  </div>
</div>
