
 <div class="container">
    <%= simple_form_for @game do |f| %>
      <%= f.input :title %>
      <%= f.input :address %>
      <%= f.input :description, as: :text %>
      <%= f.input :time_flexible, as: :radio_buttons %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.association :time_control %>
      <%= f.button :submit, class: "btn-orange" %>
    <% end %>
  </div>

