<div class="navbar-wagon">
  <!-- Logo -->

  <% if user_signed_in? %>
  <!-- logo redirection to all games when logged in -->
    <%= link_to games_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "chess-rise-logo.png", height: 50 %>
    <% end %>

    <% else %>
    <!-- logo redirection to home page when logged out -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "chess-rise-logo.png", height: 50 %>
    <% end %>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

      <% if controller?("games") && action?("index") %>

        <%= link_to new_game_path, class: "navbar-wagon-item navbar-wagon-link" do %><i class="far fa-plus-square"></i> Host a game<% end %>

        <%= link_to games_path, class: "navbar-wagon-item navbar-wagon-link current-link" do %><i class='fas fa-search'></i> Find games<% end %>

      <% elsif controller?("games") && action?("new") %>

        <%= link_to new_game_path, class: "navbar-wagon-item navbar-wagon-link current-link" do %><i class="far fa-plus-square"></i> Host a game<% end %>

        <%= link_to games_path, class: "navbar-wagon-item navbar-wagon-link" do %><i class='fas fa-search'></i> Find games<% end %>

      <% else %>

        <%= link_to new_game_path, class: "navbar-wagon-item navbar-wagon-link" do %><i class="far fa-plus-square"></i> Host a game<% end %>

        <%= link_to games_path, class: "navbar-wagon-item navbar-wagon-link" do %><i class='fas fa-search'></i> Find games<% end %>

      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_user.photo.url.present? %>
            <%= cl_image_tag(current_user.photo, :width=>30, :height=>30, :gravity=>"face", :crop=>"thumb", class: "avatar-resizable dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown") %>
          <% else %>
            <%= image_tag "Bobby_Fischer.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>

          <% if controller?("users") && user_path(current_user) && action?("show") %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu" >
              <li>
                <%= link_to user_path(current_user), class: "navbar-wagon-dropdown-menu-current" do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "  My Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to list_games_path do %>
                  <i class="fas fa-home"></i>  <%= t(".list_games", default: "  My Games") %>
                <% end %>
              </li>
              <li>
                <%= link_to bookings_path do %>
                  <i class="fas fa-bookmark"></i>  <%= t(".bookings", default: "  My Bookings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "  Log out") %>
                <% end %>
              </li>
            </ul>

          <% elsif controller?("games") && action?("list") %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "  My Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to list_games_path, class: "navbar-wagon-dropdown-menu-current" do %>
                  <i class="fas fa-home"></i>  <%= t(".list_games", default: "  My Games") %>
                <% end %>
              </li>
              <li>
                <%= link_to bookings_path do %>
                  <i class="fas fa-bookmark"></i>  <%= t(".bookings", default: "  My Bookings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "  Log out") %>
                <% end %>
              </li>
            </ul>

          <% elsif controller?("bookings") && action?("index") %>

            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "  My Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to list_games_path do %>
                  <i class="fas fa-home"></i>  <%= t(".list_games", default: "  My Games") %>
                <% end %>
              </li>
              <li>
                <%= link_to bookings_path, class: "current-link" do %>
                  <i class="fas fa-bookmark"></i>  <%= t(".bookings", default: "  My Bookings") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "  Log out") %>
                <% end %>
              </li>
            </ul>

            <% else %>

              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li>
                  <%= link_to user_path(current_user) do %>
                    <i class="fa fa-user"></i> <%= t(".profile", default: "  My Profile") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to list_games_path do %>
                    <i class="fas fa-home"></i>  <%= t(".list_games", default: "  My Games") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to bookings_path do %>
                    <i class="fas fa-bookmark"></i>  <%= t(".bookings", default: "  My Bookings") %>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "  Log out") %>
                  <% end %>
                </li>
              </ul>

            <% end %>
        </div>
      </div>
    <% else %>
      <!-- Login and signup links (when logged out) -->
      <%= link_to t(".sign_up", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href=games_path>Games</a></li>
        <li><a href=bookings_path>Bookings</a></li>
      </ul>
    </div>
  </div>
</div>
