<div class="banner" style="background-image: linear-gradient(-225deg,rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('chess.jpg') %>);">
  <div class="banner-content">
    <h1>ChessMate</h1>
    <p>Find a mate to play with IRL</p>
    <%= link_to "Let's begin", games_path, class: "btn btn-primary" %>
  </div>
</div>
<div class= "wrapper-white">

  <div class= "container">

    <div class="content-description">
      <h1><strong>PLAY CHESS ANYWHERE</strong></h1>
      <p>Because playing alone against a computer can be exhausting, join our community of players, and play face-to-face by creating a human connection. Define the location, type of game or level, and improve your game.
      </p>
    </div>

    <div class="row" style= "margin: 15px auto 30px auto;">

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-map-pin"></i>
          <p>Find By Location</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-bolt orange"></i>
          <p>Find By Time Control</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card-feature">
          <i class="icon-home fas fa-chess-rook"></i>
          <p>Find By Level</p>
        </div>
      </div>

    </div>

  </div>
</div>

<div class= "wrapper-grey">

  <div class= "container">

    <div class="testimonies-content-description">
      <h1><strong>Testimonies</strong></h1>
      <p>Here what our worldwide players say about our global service</p>
    </div>

    <div class="row" style= "margin: 15px auto 30px auto;">

      <div class="col-xs-12">
        <div class="card-feature-2">
          <%= image_tag "Bobby_Fischer.jpg", height: 100, class: "avatar-resizable" %>
          <p>Bobby Fisher</p>
          <p>Awesome service! I like it!</p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="card-feature-2">
          <%= image_tag "KASPAROV-Garry.jpg", height: 100, width:100, class: "avatar-resizable" %>
          <p style:"font-weight: bold; color: #FF6334;">Garry Kasparov</p>
          <p>Сеа еа сале хабео фалл!</p>
        </div>
      </div>

      <div class="col-xs-12">
        <div class="card-feature-2">
          <%= image_tag "martin_provost.jpg", height: 100, class: "avatar-resizable" %>
          <p style:"font-weight: bold; color: #FF6334;">Tinmar Provoc</p>
          <p>Me encantan las partes finas!</p>
        </div>
      </div>

    </div>

  </div>
</div>
<!--
      <div class="container-testimonies">
        <div class="row">
          <p><strong>TESTIMONIES</strong></p>
        </div>
        <div class="row">
          <p><strong>Bobby Fisher</strong></p>
          <p><i>"Best game I ever played."</i></p>
        </div>
        <div class="row">
          <p><strong>Kasparov</strong></p>
          <p><i>"Awesome web app !"</i></p>
        </div>
      </div>
    </div>
  </div>
 -->
