<div class="main-container">
  <div class="cards-container">
    <div class="row card-box">
    <% @games.each do |game| %>
      <div class="col-xs-4 col-sm-6">
        <div class="card" style="background-image: url('<%= cl_image_path game.photo, height: "400", width: "500", quality:"auto:low"%>')">
          <%= link_to game_path(game) do %>
            <span class="top-link"></span>
          <% end %>
            <div class="card-category"><%= game.user.first_name %></div>
            <div class="card-description">
              <h2><%= game.title %></h2>
              <p><%= game.description %></p>
            </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div id="map">
  </div>
</div>


<script>
  function initMap() {
    // Create a map object and specify the DOM element for display.
    var map = new google.maps.Map(
      document.getElementById('map'),
      {
        center: { lat: 48.866667, lng: 2.333333 },
        scrollwheel: false,
        zoom: 8
      }
    );
  }
</script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Gmaps JavaScript -->
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzER7O10ZOUp7FloJzMe2r8X1GIQhgt7Q&callback=initMap">
</script>
