<div class="main-container login">
  <div class="cards-container">
    <div class="row card-box">
    <% @games.each do |game| %>
      <div class="col-xs-4 col-sm-6">
        <div class="card" style="background-image: url('<%= cl_image_path game.photo, height: "400", width: "500", quality:"auto:low"%>')">
          <%= link_to game_path(game) do %>
            <span class="top-link"></span>
          <% end %>
            <div class="card-category"><%= game.user.first_name %></div>
            <div class="card-description">
              <h2><%= game.title %></h2>
              <p><%= game.description %></p>
            </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div id="map" style="width: 100%; height: 100vh;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


