<div class="map" style="background-image: url('https://www.divento.com/14461/park-monceau.jpg')"></div>


<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="game-show-card text-align-center">
        <h4> <%= @game.title %></h4>
        <p> Address: <em><%= @game.address %></em> </p>
        <p> <%= @game.description %></p>
      </div>
      <div class="game-show-card flexbox">
        <div class="player-info">
          <%= image_tag "chess-rise-logo", alt: "alttext", class: "avatar-large" %>
          <p> <%= @user.full_name %></p>
        </div>
        <div class="game-info">
          <ul>
            <li><strong>Time control: </strong> <%= @game.time_control.name %></li>
            <li>
              <% if @game.time_flexible %>
                <span> <strong>Flexible on time: </strong> </span> <i class='fas fa-check'></i>
                <% else %>
                <span> <strong>Flexible on time: </strong> </span> <i class="fas fa-times"></i>
              <% end %>
              </li>
            <li><strong>Start date: </strong><%= @game.start_date %></li>
            <li><strong>End date: </strong><%= @game.end_date %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="game-show-card text-align-center">
        <h4>Save your spot!</h4>
        <button class="btn btn-primary"> Book </button>
      </div>
    </div>
  </div>
</div>
